In [1]:
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark import SparkConf

from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import col, desc, udf, count, sum, avg, array

from pyspark.sql.functions import sum as Fsum
from pyspark.sql.window import Window

import hashlib
from typing import List
import findspark
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
a = [1,2]# a = 3

0

In [2]:
from datetime import datetime
from pytz import timezone

# Define the Pacific Time Zone
pacific = timezone('America/Los_Angeles')

# Get the current time in Pacific Time
pacific_time = datetime.now(pacific)

# Format the date as "yyyy-mm-dd"
pacific_date_str = pacific_time.strftime('%Y-%m-%d')

print(pacific_date_str)

2024-11-23

# Load data

### From Local File or From S3 AWS

In [3]:
findspark.init()


def print_dataframe_info(df, num_sample_rows=3):
    """
    Prints detailed information about a PySpark DataFrame.
    
    Parameters:
    df (DataFrame): The PySpark DataFrame to analyze.
    num_sample_rows (int): Number of sample rows to display.
    """
    # Print the schema of the DataFrame
    print("Schema:")
    df.printSchema()
    
    # Show a sample of rows from the DataFrame
    print(f"\nSample Rows (first {num_sample_rows} rows):")
    df.show(num_sample_rows)
    
    # Show descriptive statistics for numerical columns
    print("\nDescriptive Statistics:")
    df.describe().show()
    
    # Print all column names
    column_names = df.columns
    print("\nColumn Names:", column_names)
    
    # Get the number of rows
    num_rows = df.count()
    print("Number of Rows:", num_rows)
    
    # Get the number of columns
    num_columns = len(column_names)
    print("Number of Columns:", num_columns)


LOAD_TYPE = "LOCAL"
file_path = " "
SECRET = "xxNWgbGcHrXD2lRFKDtcZjwdwHwDBqZuGpifjpJA"
KEY = "AKIAWFSXZJYBJ7TYXUPQ"


#Create a Spark Context
local_path = "data/song_data/*/*/*/*.json"
s3_path = "s3://udacity-dend/song_data/*/*/*/*.json"


sc = SparkContext()
dataset_name = "SongDataSet"
if LOAD_TYPE == "LOCAL":
        spark = SparkSession\
                        .builder \
                        .appName(dataset_name)\
                        .getOrCreate()
        file_path = local_path

else: 
        conf = SparkConf()
        conf.set('spark.jars.packages', 'org.apache.hadoop:hadoop-aws:3.3.1')
        conf.set('spark.hadoop.fs.s3a.aws.credentials.provider',  'org.apache.hadoop.fs.s3a.AnonymousAWSCredentialsProvider')#'org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider')
        conf.set('spark.hadoop.fs.s3a.access.key', KEY)
        conf.set('spark.hadoop.fs.s3a.secret.key', SECRET)
        # conf.set('spark.hadoop.fs.s3a.session.token', <token>)
        spark = SparkSession.builder \
                        .appName(dataset_name) \
                        .config(conf = conf) \
                        .getOrCreate()
        # hadoop_conf.set("fs.s3a.endpoint", "s3.amazonaws.com")
        file_path = s3_path

24/11/23 11:48:32 WARN Utils: Your hostname, noah-Alienware-U18 resolves to a loopback address: 127.0.1.1; using 10.0.0.109 instead (on interface wlp4s0)
24/11/23 11:48:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/23 11:48:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:

# Create an RDD from the JSON data
# json_rdd = sc.parallelize(s3_path)
# # Convert the RDD to a DataFrame
# songs_df = spark.read.json(json_rdd)
# # Coalesce dataframes to a single partition: this helps to avoid having empty files due to parallelization
# songs_df = songs_df.coalesce(1)
songs_df = spark.read.json(file_path)

# Show the DataFrame
songs_df.printSchema()
songs_df.show(3)
songs_df.describe().show()

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|AR4T2IF1187B9ADBB7|       63.96027|<a href="http://b...|        10.22442|          Billy Idol|233.22077|        1|SOVIYJY12AF72A4B00|The Dead Next Doo...|1983|
|AR4T2IF1187B9ADBB7|       63.96027|<a href="http://b...|        10.22442|          Billy Idol|287.92118|        1|SOVYXYL12AF72A3373|Rebel Yell (1999 ...|1983|
|ARQ846I1187B9A7083|           NULL|                    |            NULL|Yvonne S. Moriart...|196.04853|        1|SOEPTVC12A67ADD0DA|To Zucchabar ["Gl...|   0|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 3 rows

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

In [10]:

event_dir = "data/2018/*/*.json"
events_df = spark.read.json(event_dir)

# Show the DataFrame
events_df.printSchema()
events_df.show(3)
events_df.describe().show()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+
|     artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|           song|status|           ts|           userAgent|userId|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+
|   Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|  Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|
|The Prodigy|Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|
|      Train|Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+
only showing top 3 rows

+-------+------------------+----------+---------+------+------------------+--------+------------------+-----+--------------------+------+-------+--------------------+------------------+--------------------+------------------+--------------------+--------------------+------------------+
|summary|            artist|      auth|firstName|gender|     itemInSession|lastName|            length|level|            location|method|   page|        registration|         sessionId|                song|            status|                  ts|           userAgent|            userId|
+-------+------------------+----------+---------+------+------------------+--------+------------------+-----+--------------------+------+-------+--------------------+------------------+--------------------+------------------+--------------------+--------------------+------------------+
|  count|              6820|      8056|     7770|  7770|              8056|    7770|              6820| 8056|                7770|  8056|   8056|                7770|              8056|                6820|              8056|                8056|                7770|              8056|
|   mean|             266.5|      NULL|     NULL|  NULL| 21.19885799404171|    NULL|247.03222091348965| NULL|                NULL|  NULL|   NULL|1.540777905900890...| 598.1675769612712|  1388.3636363636363|  202.897591857001|1.542486261744982...|                NULL| 54.46396396396396|
| stddev|109.00229355385143|      NULL|     NULL|  NULL|23.440698529423255|    NULL|102.97592081740876| NULL|                NULL|  NULL|   NULL|2.6515717661170202E8|285.31309422188014|  2347.5150807919117|17.994255629646254|  7.00316630205993E8|                NULL|28.168503533430705|
|    min|               !!!| Logged In|   Adelyn|     F|                 0|Arellano|          15.85587| free|Atlanta-Sandy Spr...|   GET|  About|   1.539908999796E12|                 3| I Will Not Reap ...|               200|       1541105830796|"Mozilla/5.0 (Mac...|                  |
|    max|   ÃÂtienne Daho|Logged Out|  Zachary|     M|               127|   Young|        2594.87302| paid|       Yuba City, CA|   PUT|Upgrade|   1.541098488796E12|              1114|ÃÂ Aqui Que Se ...|               404|       1543607664796|Mozilla/5.0 (comp...|                99|
+-------+------------------+----------+---------+------+------------------+--------+------------------+-----+--------------------+------+-------+--------------------+------------------+--------------------+------------------+--------------------+--------------------+------------------+

# CREATE TABLE
### CREATE TEMPORALY SQL VIEW IN SPARK

In [16]:
events_df.createOrReplaceTempView("events_table")
songs_df.createOrReplaceTempView("songs_table")

### Dimension Tables

#### 1) Users Dimension Table

In [18]:
users_dim_df = events_df.select('userId','firstName','lastName',
                             'gender','level')\
                    .dropDuplicates()
rename_dict ={"userId" :"user_id",
              "firstName" : "first_name",
              "lastName" : "last_name",
              "gender" : "gender",
              "level" : "level"}
# Loop through the dictionary to rename columns
for old_name, new_name in rename_dict.items():
    users_dim_df = users_dim_df.withColumnRenamed(old_name, new_name)

# Show the DataFrame with renamed columns
users_dim_df.show()

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     84|   Shakira|     Hunt|     F| free|
|     52|  Theodore|    Smith|     M| free|
|     80|     Tegan|   Levine|     F| paid|
|     15|      Lily|     Koch|     F| paid|
|     37|    Jordan|    Hicks|     F| free|
|     43|    Jahiem|    Miles|     M| free|
|     44|    Aleena|    Kirby|     F| paid|
|     50|       Ava| Robinson|     F| free|
|     63|      Ayla|  Johnson|     F| free|
|     30|     Avery|  Watkins|     F| paid|
|     92|     Ryann|    Smith|     F| free|
|     40|    Tucker| Garrison|     M| free|
|     16|     Rylan|   George|     M| paid|
|     88|  Mohammad|Rodriguez|     M| paid|
|     54|     Kaleb|     Cook|     M| free|
|     96|    Cierra|   Finley|     F| free|
|     26|      Ryan|    Smith|     M| free|
|     36|   Matthew|    Jones|     M| paid|
|     12|    Austin|  Rosales|     M| free|
|     74|    Braden|   Parker|     M| free|
+-------+----------+---------+------+-----+
only showing top 20 rows

In [19]:
users_dim_sql_df= spark.sql('''
          SELECT userID AS user_id,
                 firstName AS first_name,
                 lastName AS last_name,
                 gender,
                 level
          FROM events_table
          '''
          )
        # WHERE userID IS NOT NULL
        #   DROP DUPLICATES
users_dim_sql_df.show()

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     26|      Ryan|    Smith|     M| free|
|     26|      Ryan|    Smith|     M| free|
|     26|      Ryan|    Smith|     M| free|
|      9|     Wyatt|    Scott|     M| free|
|     12|    Austin|  Rosales|     M| free|
|     61|    Samuel| Gonzalez|     M| free|
|     61|    Samuel| Gonzalez|     M| free|
|       |      NULL|     NULL|  NULL| paid|
|     80|     Tegan|   Levine|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     15|      Lily|     Koch|     F| paid|
|     80|     Tegan|   Levine|     F| paid|
|     15|      Lily|     Koch|     F| paid|
+-------+----------+---------+------+-----+
only showing top 20 rows

#### 2) Users Dimension Table

In [21]:
songs_dim_df = songs_df.select('song_id','title','artist_id','year','duration')\
                    .dropDuplicates()
songs_dim_df.show()

+------------------+--------------------+------------------+----+----------+
|           song_id|               title|         artist_id|year|  duration|
+------------------+--------------------+------------------+----+----------+
|SOVYXYL12AF72A3373|Rebel Yell (1999 ...|AR4T2IF1187B9ADBB7|1983| 287.92118|
|SONVWOX12A8C137FF5|Le Roi de Lahore_...|ARIDEBJ1187B9A3754|   0| 250.48771|
|SOROAMT12A8C13C6D0|Me gustan mas los...|ARWUDTF1187B9AA096|2008| 101.85098|
|SOVBRVG12A8C13DDCE|Millions starved ...|ARYOIZG1187FB41E30|2006| 594.75546|
|SOIGELY12A6D4F65C6|Aida (1986 Digita...|ARXLQYU11F4C83E050|   0| 345.25995|
|SOGXGDI12AB017F83B|You Can't Stop Th...|ARD63361187FB52CA6|   0| 324.67546|
|SOUQKQA12A6D4F951E|Perfume: The Stor...|ARZEHBT124549A4599|   0| 331.20608|
|SOGZKUT12AB0186276|   Tierra Sin Nombre|ARJNVPB12454A3E0B8|   0|  180.1922|
|SOBTCUI12A8AE48B70|Faust: Ballet Mus...|ARSUVLW12454A4C8B8|   0|  94.56281|
|SOSHXLZ12AB0185894|Throw Them 3's (B...|ARAQMES1187FB4D46A|   0|  260.8322|
|SOKEJTW12A6D4F8D66|Don't Tell (Expli...|ARZ5H0P1187B98A1DD|1999| 287.08526|
|SOVIYJY12AF72A4B00|The Dead Next Doo...|AR4T2IF1187B9ADBB7|1983| 233.22077|
|SOMDBLQ12A6D4F8B72|Quartet for Piano...|AREVPHS1187FB3B6EB|   0| 496.53506|
|SOLQYSZ12AB0181F97|    Mony Mony (Live)|AR4T2IF1187B9ADBB7|1987| 247.53587|
|SODUMDU12AC468A22B|We're Skrewed (Ot...|ARHOSMU1242078130D|   0|  249.5473|
|SOTCIHX12A8C13DDD2|Finally_ as that ...|ARYOIZG1187FB41E30|2006| 483.34322|
|SOUFBFK12A8C13D668|String Quartets O...|ARAILTA11F4C840A06|   0| 348.60363|
|SOHPSTY12A6D4F719C|Ms. New Booty (Ed...|ARJYD111187FB3AC15|   0| 252.52526|
|SOAZUNV12A8C13923B|A Faust Symphony ...|ARSUVLW12454A4C8B8|   0|1237.86404|
|SOUHAOJ12AB0187C31|Te Deum Laudamus_...|ARN8NCB1187FB49652|   0|  70.03383|
+------------------+--------------------+------------------+----+----------+
only showing top 20 rows

In [23]:
songs_dim_sql_df = spark.sql("""
                             SELECT DISTINCT song_id,
                                    title,
                                    artist_id,
                                    year,
                                    duration
                             FROM songs_table;
                             """)
songs_dim_sql_df.describe().show()
songs_dim_sql_df.show(3)

+-------+------------------+-----------------+------------------+------------------+------------------+
|summary|           song_id|            title|         artist_id|              year|          duration|
+-------+------------------+-----------------+------------------+------------------+------------------+
|  count|             14896|            14896|             14896|             14896|             14896|
|   mean|              NULL|581.6631578947369|              NULL|1360.5122851772287|246.77939752953853|
| stddev|              NULL|876.8867785844078|              NULL| 932.6891909627184|110.00572654979545|
|    min|SOAAAQN12AB01856D3|  Dry Techterlech|AR00B1I1187FB433EB|                 0|           6.37342|
|    max|SOZZZON12A8C139ED5|             Üres|ARZZXT51187FB4627E|              2010|         2709.2371|
+-------+------------------+-----------------+------------------+------------------+------------------+

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SOLLALT12A8C1399F3|Piano Concerto No...|ARWMEJW11F4C83C123|   0|319.37261|
|SOLQYSZ12AB0181F97|    Mony Mony (Live)|AR4T2IF1187B9ADBB7|1987|247.53587|
|SOLXXRJ12A6D4F7260|Firepower (The Ta...|AR0CANF1187B9AF35F|2006|311.06567|
+------------------+--------------------+------------------+----+---------+
only showing top 3 rows

#### 3) Artist Dimension Table

In [26]:
print(songs_df.columns)
print(events_df.columns)

['artist_id', 'artist_latitude', 'artist_location', 'artist_longitude', 'artist_name', 'duration', 'num_songs', 'song_id', 'title', 'year']
['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName', 'length', 'level', 'location', 'method', 'page', 'registration', 'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId']

# Explore SPARK

In [ ]:
logs_df.select('itemInSession','ts', 'userId').describe().show()

In [ ]:
test_df = logs_df.withColumn(colName = 'MultiplyitemInSession',
                   col = logs_df.itemInSession* 22)
test_df.show(2)

In [ ]:
test_df = test_df.withColumnRenamed(existing="page", new ="page_type")
test_df.show(2)

In [ ]:
test_df = test_df.drop('itemInSession')
test_df.show(2)

In [9]:
test_df = test_df.dropna()

In [ ]:
test_df = test_df.filter(test_df.gender =="M")
test_df.show(3)

In [ ]:
test_df.groupBy('userId').sum('length').show()

In [ ]:
test_df.groupBy('userId').count().orderBy('count', ascending = False).show()

In [ ]:
@udf('string')
def toUpper(word:str):
    return word.upper()

# upper_udf = udf(toUpper, returnType='string')
test_df.select('userId',toUpper('firstName')).show(3)

In [ ]:
@udf('string')
def surrogateKey(text_values: List[str]):
    sha256 = hashlib.sha256()
    data = ''.join(text_values)
    for value in text_values:
        data = data + str(value)
    sha256.update(data.encode())
    return sha256.hexdigest()

test_df.withColumn(colName = "sur_key",
                   col = surrogateKey(array(test_df.userId, test_df.firstName, test_df.lastName)))\
        .select('sur_key')\
        .show(n=3)

In [ ]:
test_df = test_df.withColumn(colName="firstName",
                             col = toUpper("firstName"))
test_df.show(3)

In [ ]:
from pyspark.sql.functions import col, explode, sequence, year, month, dayofweek, dayofmonth, dayofyear, weekofyear, date_format, lit
from pyspark.sql.types import DateType

@udf('int')
def get_quarter_of_year(date):
    return (date.month - 1) // 3 +1

# Date range
start_date = "2003-01-01"
end_date = "2005-12-31"

date_range_df = spark.sql(f"SELECT explode(sequence(to_date('{start_date}'), to_date('{end_date}'), interval 1 day)) as date_day")
date_range_df.show(5)

date_dim_df = date_range_df\
                .withColumn(colName="day_of_week", col=dayofweek("date_day")) \
                .withColumn(colName="day_of_month", col=dayofmonth("date_day")) \
                .withColumn(colName="day_of_year", col=dayofyear("date_day")) \
                .withColumn(colName="week_of_year", col=weekofyear("date_day")) \
                .withColumn(colName="month_of_year", col=month("date_day")) \
                .withColumn(colName="year_number", col=year("date_day")) \
                .withColumn(colName="month_name", col=date_format("date_day", "MMMM")) \
                .withColumn(colName="quarter_of_year", col=get_quarter_of_year("date_day"))
date_dim_df.show(3)

In [ ]:
def get_quarter_of_year(date):
    return (date.month - 1) // 3 +1

# Quiz Questions

## Question 1 :Which page did user id "" (empty string) NOT visit?

In [ ]:
empty_u_df = logs_df.filter(logs_df.userId =="")\
                    .select('page')\
                    .alias("blank_pag")\
                    .dropDuplicates()
                    
empty_u_df.show(10)

In [ ]:
all_visit_page = logs_df.select("page").dropDuplicates()
all_visit_page.show()

In [ ]:
diff_page = set(all_visit_page.collect()) - set(empty_u_df.collect())
print(diff_page)
for row in diff_page:
    print(row.page)

## Question 2: What type of user does the empty string user id most likely refer to?

In [ ]:
logs_df.show(1)

In [ ]:
empty_refer_df = logs_df.filter(logs_df.userId =="")\
                        .select("level")\
                        .alias("type_of_user")\
                        .dropDuplicates()
empty_refer_df.show()

## Question 3: How many female users do we have in the data set?

In [ ]:
female_count = logs_df.filter(logs_df.gender =='F')\
                    .select('userId','gender')\
                    .dropDuplicates()\
                    .count() 
female_count

##  Question 4: How many songs were played from the most played artist?

In [ ]:
logs_df.show(1)

In [ ]:
most_songs_df = logs_df.filter(logs_df.page =="NextSong")\
                       .select('artist')\
                       .groupby('artist')\
                       .agg(count("artist").alias("Playcount"))\
                       .sort(desc('Playcount'))\
                       .limit(10)
most_songs_df.show()

## Question 5: How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:

def print_unique_values(df):
    for column in df.columns:
        unique_values = df.select(column).distinct().rdd.flatMap(lambda x: x).collect()
        print(f"{len(unique_values)} Unique values in column '{column}': {unique_values}")
        
print_unique_values(logs_df)

In [ ]:
logs_df.show(1)

In [ ]:
songs_count_df = logs_df.filter(logs_df.page =="Home")\
                        .select("userId","song","page")\
                        .groupby("userId")\
                        .agg(count("song").alias("Total_Songs"))\
                        .filter("Total_Songs > 0")
songs_count_df.show(5)

In [ ]:
user_window = Window \
    .partitionBy('userID') \
    .orderBy(desc('ts')) \
    .rangeBetween(Window.unboundedPreceding, 0)
    
ishome = udf(lambda ishome : int(ishome == 'Home'), IntegerType())

# Filter only NextSong and Home pages, add 1 for each time they visit Home
# Adding a column called period which is a specific interval between Home visits
cusum = logs_df.filter((logs_df.page == 'NextSong') | (logs_df.page == 'Home')) \
    .select('userID', 'page', 'ts') \
    .withColumn('homevisit', ishome(col('page'))) \
    .withColumn('period', Fsum('homevisit') \
    .over(user_window)) 
    
# This will only show 'Home' in the first several rows due to default sorting

cusum.show(5)

In [ ]:
# See how many songs were listened to on average during each period
new_sum = cusum.filter((cusum.page == 'NextSong')) \
    .groupBy('userID', 'period') \
    .agg(count("period").alias("total_count")) \
    .agg(avg("total_count").alias("average")) \
    # .show()
new_sum.show()

# SQL QUESTIONS

In [88]:
logs_df.createOrReplaceTempView("user_log_table")

In [ ]:

spark.sql('''
          SELECT * 
          FROM user_log_table 
          LIMIT 2
          '''
          ).show()

spark.sql('''
          SELECT COUNT(*) 
          FROM user_log_table 
          '''
          ).show()

spark.sql('''
          SELECT userID, firstname, page, song
          FROM user_log_table 
          WHERE userID == '1046'
          '''
          ).show()

spark.sql('''
          SELECT DISTINCT page
          FROM user_log_table 
          ORDER BY page ASC
          '''
          ).show()

In [ ]:
# # User Defined Functions

spark.udf.register("get_hour", lambda x: int(datetime.datetime.fromtimestamp(x / 1000.0).hour))

spark.sql('''
          SELECT *, get_hour(ts) AS hour
          FROM user_log_table 
          LIMIT 1
          '''
          ).show(5)

songs_in_hour_df = spark.sql('''
          SELECT get_hour(ts) AS hour, COUNT(*) as plays_per_hour
          FROM user_log_table
          WHERE page = "NextSong"
          GROUP BY hour
          ORDER BY cast(hour as int) ASC
          '''
          )

songs_in_hour_df.show(5)

In [ ]:
# # Question 1
# 
# Which page did user id "" (empty string) NOT visit?

# filter for users with blank user id
blank_pages_query = """
    SELECT DISTINCT page AS blank_pages
    FROM user_log_table
    WHERE userId = ''
"""

# get a list of possible pages that could be visited
all_pages_query = """
    SELECT DISTINCT page
    FROM user_log_table
"""

# find values in all_pages that are not in blank_pages
not_visited_pages_query = """
    SELECT all_pages.page
    FROM ({all_pages_query}) all_pages
    LEFT JOIN ({blank_pages_query}) blank_pages
    ON all_pages.page = blank_pages.blank_pages
    WHERE blank_pages.blank_pages IS NULL
""".format(all_pages_query=all_pages_query, blank_pages_query=blank_pages_query)

# Execute the queries
blank_pages_df = spark.sql(blank_pages_query)
all_pages_df = spark.sql(all_pages_query)
not_visited_pages_df = spark.sql(not_visited_pages_query)
not_visited_pages_df.show()

In [ ]:
 # Question 3
# 
# How many female users do we have in the data set?

query = """
    SELECT COUNT(DISTINCT userId) AS count
    FROM user_log_table
    WHERE gender = 'F'
"""

# Execute the query
result = spark.sql(query)

# Print the result
result.show()

In [ ]:

# # Question 4
# 
# How many songs were played from the most played artist?

query = """
    SELECT Artist, COUNT(Artist) AS Playcount
    FROM user_log_table
    WHERE page = 'NextSong'
    GROUP BY Artist
    ORDER BY Playcount DESC
    LIMIT 1
"""

# Execute the query
result = spark.sql(query)

# Print the result
result.show()

In [ ]:
query = """
    WITH cusum AS (
        SELECT userID, page, ts,
            CASE WHEN page = 'Home' THEN 1 ELSE 0 END AS homevisit,
            SUM(CASE WHEN page = 'Home' THEN 1 ELSE 0 END) OVER (
                PARTITION BY userID
                ORDER BY ts DESC
                ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
            ) AS period
        FROM user_log_table
        WHERE page IN ('NextSong', 'Home')
    )
    SELECT AVG(song_count) AS average_songs
    FROM (
        SELECT userID, period, COUNT(period) AS song_count
        FROM cusum
        WHERE page = 'NextSong'
        GROUP BY userID, period
    )
"""

# Execute the query
result = spark.sql(query)

# Print the result
result.show()